.root {
  --primaryColor: ;
  --secondaryColor: ;
  --black: #242d49;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
}
.App {
  font-family: "Inter", sans-serif;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.AppGlass {
  display: inline-flex;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: white;
  overflow: hidden;
  grid-template-columns: 11rem auto;
  gap: 10px;
}

/* .AppLeft {
  background-image: radial-gradient(
    circle 975px at 2.6% 48.3%,
    rgba(0, 8, 120, 1) 0%,
    rgba(95, 184, 224, 1) 99.7%
  );
  height: 100vh;
  width: 15%;
}
.AppRight {
  background: rgb(211, 226, 249) 0%;
  width: 85%;
  float: left;
} */
@media screen and (max-width: 1200px) {
  .AppGlass {
    grid-template-columns: 10% 50% auto;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 768px) {
  .AppGlass {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
}
